<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments :: header('Shopme - Homepage')}"></head>
<body>
<div class="container-fluid">
    <div th:replace="~{navigation :: menu('')}"></div>
    <div>
        <h1>Shopme Control Panel</h1>
        <p>Welcome <a th:href="@{/account}" class="text-primary" sec:authentication="principal.fullName">
            &nbsp;
            <span sec:authentication="principal.authorities"></span>
        </a></p>
    </div>
    <div th:replace="~{navigation :: popup}"></div>

    <div th:replace="~{fragments :: footer}"></div>
</div>
</body>
</html>