<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Shopme - Admin Homepage</title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/logo-no-background.png}" width="100">
            </a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                    data-bs-target="#navbarMain">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse ms-2 ms-lg-0" id="navbarMain">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users}">
                            Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categires}">
                            Categories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/brands}">
                            Brands
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customers}">
                        Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/shipping}">
                        Shipping
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders}">
                        Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/report}">
                        Sale Report
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/articles}">
                        Articles
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/menus}">
                        Menus
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/settings}">
                        Settings
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <h1>Welcome Admin Homepage</h1>
    </div>

    <div>
        <p>Shopme - Copyright &copy;</p>
    </div>
</div>
</body>
</html>