<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content" th:remove="tag">
  <div class="row">
    <label class="col-form-label col-sm-4">Length (inch)</label>
    <div class="col-md-10">
      <input class="form-control" type="number" th:field="*{length}">
    </div>
  </div>
  <div class="row">
    <label class="col-form-label col-sm-4">Width (inch)</label>
    <div class="col-md-10">
      <input class="form-control" type="number" th:field="*{width}">
    </div>
  </div>
  <div class="row">
    <label class="col-form-label col-sm-4">Height (inch)</label>
    <div class="col-md-10">
      <input class="form-control" type="number" th:field="*{height}">
    </div>
  </div>
  <div class="row">
    <label class="col-form-label col-sm-4">Weight(inch)</label>
    <div class="col-md-10">
      <input class="form-control" type="number" th:field="*{weight}">
    </div>
  </div>

  <div class="text-center">
    <input type="submit" value="Save" class="btn btn-primary mx-2">
    <input type="button" value="Cancel" class="btn btn-danger" name="cancel">
  </div>
</div>
</html>